@inherits TazorBaseComponent
<section 
    class=@(IsUnfolded ? Theme.Layout.Accordion.FoldContainerSelected : Theme.Layout.Accordion.FoldContainer)>
    <div 
        class=@(IsUnfolded ? Theme.Layout.Accordion.FoldHeaderSelected : Theme.Layout.Accordion.FoldHeader)
        @onclick=@ToggleFold>
        @if(IconPlacement == IconPlacement.Start)
        {
            if(IsUnfolded)
            {
                if (UnfoldedIconTemplate is not null) 
                {
                    @UnfoldedIconTemplate
                }
                else
                {
                    @HeroIcons.ChevronDown()
                }
            }
            else
            {
                if (IconTemplate is not null)
                {
                    @IconTemplate
                }
                else
                {
                    @HeroIcons.ChevronRight()
                }
            }
        }
        
        @Header

        @if (IconPlacement == IconPlacement.End)
        {
            if (IsUnfolded)
            {
                if (UnfoldedIconTemplate is not null)
                {
                    @UnfoldedIconTemplate
                }
                else
                {
                    @HeroIcons.ChevronDown()
                }
            }
            else
            {
                if (IconTemplate is not null)
                {
                    @IconTemplate
                }
                else
                {
                    @HeroIcons.ChevronRight()
                }
            }
        }
    </div>
    <div class="@(GetContentClass())">
        @Content
    </div>
</section>
