@typeparam TItem
@inject ITazorTheme Theme
<div class=@Theme.TableSpacing>
    <div class=@Theme.TableToolbar>
        <div>
            <span class="text-xs">Search will go here</span>
        </div>
        <div>
            <div class="relative">
                <ClickContainer OnClickedOutside=@(() => { _isColumnPopupOpen = false; StateHasChanged(); })>
                    <a class="cursor-pointer" title="Columns" @onclick=@(() => { _isColumnPopupOpen =
                        !_isColumnPopupOpen; })>
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-6 w-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                        </svg>
                    </a>
                    <div class=@($"top-100 right-0 mt-5 absolute dark:bg-blue-800 shadow p-2 {CetColumnPopupClass()}")>
                        @foreach (var col in Columns)
                        {
                            if (!col.IsRemovable) { continue; }
                            <div class="px-5 py-2 flex items-center">
                                <span class="mr-3">
                                    <Switch IsChecked=@col.IsVisible IsCheckedChanged=@((bool newValue) => {
                                    Console.WriteLine($"{col.Title} => {newValue}"); col.IsVisible = newValue;
                                    StateHasChanged(); }) />
                                </span>
                                <span class="text-sm">
                                    @col.Title
                                </span>
                            </div>
                        }
                    </div>
                </ClickContainer>
            </div>

        </div>
    </div>
    <table class=@Theme.Table>
        <thead class=@Theme.TableHeader>
            <tr>
                @foreach (var col in Columns)
                {
                    if (col.IsVisible)
                    {
                        <td class=@Theme.TableHeaderCell @onclick=@(() => { HandleSortChange(col); })>
                            <div class="flex justify-between items-center">
                                <span class="inline-block">@col.Title</span>

                                @if (col.Sort == SortDirection.Ascending)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block ml-2 h-6 w-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
                                    </svg>
                                }
                                else if (col.Sort == SortDirection.Descending)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block ml-2 h-6 w-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
                                    </svg>
                                }
                            </div>
                        </td>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                var rowCount = 1;
                var visibleItems = Items.AsQueryable();

                foreach (var sortCol in Columns.Where(m => m.Sort != SortDirection.None))
                {
                    visibleItems = sortCol.Sort == SortDirection.Ascending ? visibleItems.OrderBy(sortCol.Field) :
                    visibleItems.OrderByDescending(sortCol.Field);
                }

                visibleItems = visibleItems.Skip((CurrentPage - 1) * NumberPerPage).Take(NumberPerPage);


            }
            @foreach (var item in visibleItems)
            {
                <tr class=@(rowCount % 2 == 0 ? Theme.TableEvenRow : Theme.TableOddRow)>
                    @foreach (var col in Columns)
                    {
                        if (col.IsVisible)
                        {
                            var columnFieldValue = col.Field.Compile()(item);
                            <td class=@Theme.TableCell>
                                @if (col.Renderer != null)
                                {
                                    @col.Renderer(item)
                                }
                                else
                                {
                                    @if (col.Format != null)
                                    {
                                        @(string.Format("{0:" + col.Format + "}", columnFieldValue))
                                    }
                                    else
                                    {
                                        @(columnFieldValue.ToString())
                                    }
                                }
                            </td>
                        }
                    }
                </tr>
                rowCount++;
            }
        </tbody>
        @if (SummaryRow != SummaryRowMode.Hidden)
        {
            <tfoot class=@Theme.TableSummary>
                <tr>
                    @foreach (var col in Columns)
                    {
                        if (!col.IsVisible) { continue; }

                        <td class=@Theme.TableCell>
                            @if (col.Summary != null)
                            {
                                @col.Summary(SummaryRow == SummaryRowMode.AllItems ? Items : visibleItems)
                                ;
                            }
                        </td>
                    }
                </tr>
            </tfoot>
        }
    </table>
    <div class=@Theme.TableFooter>
        <Pager NumberOfVisiblePages=5 @bind-CurrentPage=@CurrentPage Pages=@((int)Math.Ceiling((double)Items.Count() /
            NumberPerPage)) />
    </div>
</div>
@code {
    [Parameter]
    public int NumberPerPage { get; set; } = 10;

    [Parameter]
    public int CurrentPage { get; set; } = 1;

    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = Enumerable.Empty<TItem>();

    [Parameter]
    public IEnumerable<Column<TItem>> Columns { get; set; } = Enumerable.Empty<Column<TItem>>();

    [Parameter]
    public SummaryRowMode SummaryRow { get; set; }

    [Parameter]
    public bool EnableMultiSort { get; set; } = false;

    private bool _isColumnPopupOpen = false;

    private string CetColumnPopupClass() => _isColumnPopupOpen ? "block" : "hidden";

    private void HandleSortChange(Column<TItem> col)
    {
        switch (col.Sort)
        {
            case SortDirection.None:
                col.Sort = SortDirection.Ascending;
                break;
            case SortDirection.Ascending:
                col.Sort = SortDirection.Descending;
                break;
            case SortDirection.Descending:
                col.Sort = SortDirection.None;
                break;
        }

        if (!EnableMultiSort)
        {
            foreach (var otherColumn in Columns.Where(m => m != col))
            {
                otherColumn.Sort = SortDirection.None;
            }
        }
    }
}
