@typeparam TItem
@inject IThemeManager Theme
<div class=@Theme.Current.DataGrid.Wrapper>
    @if (!HideToolbar)
    {
        <div class=@Theme.Current.DataGrid.Toolbar>
            <div>
                @Toolbar
            </div>
            <div>
                <div class="relative">
                    <ClickContainer OnClickedOutside=@(() => { _isColumnPopupOpen = false; StateHasChanged(); })>
                        <a class="cursor-pointer" title="Columns" @onclick=@(() => { _isColumnPopupOpen =
                       !_isColumnPopupOpen; })>
                            @HeroIcons.TableCells(Theme.Current.Content.Icon)
                        </a>
                        <div class=@($"top-100 right-0 mt-5 absolute dark:bg-blue-800 shadow p-2 {CetColumnPopupClass()}")>
                            @foreach (var col in Columns)
                            {
                                if (!col.IsRemovable) { continue; }
                                <div class="px-5 py-2 flex items-center">
                                    <span class="mr-3">
                                        <Switch IsChecked=@col.IsVisible IsCheckedChanged=@((bool newValue) => {
                                        Console.WriteLine($"{col.Title} => {newValue}"); col.IsVisible = newValue;
                                        StateHasChanged(); }) />
                                    </span>
                                    <span class="text-sm">
                                        @col.Title
                                    </span>
                                </div>
                            }
                        </div>
                    </ClickContainer>
                </div>

            </div>
        </div>
    }
    <table class=@Theme.Current.DataGrid.TableElement>
        <thead class=@Theme.Current.DataGrid.Header>
            <tr>
                @foreach (var col in Columns)
                {
                    if (col.IsVisible)
                    {
                        <th class=@Theme.Current.DataGrid.HeaderCell @onclick=@(() => { HandleSortChange(col); })>
                            <div class="flex justify-between items-center">
                                <span class="inline-block">@col.Title</span>

                                @if (col.Sort == SortDirection.Ascending)
                                {
                                    @HeroIcons.BarsArrowUp(Theme.Current.DataGrid.SortingIcon)
                                }
                                else if (col.Sort == SortDirection.Descending)
                                {
                                    @HeroIcons.BarsArrowDown(Theme.Current.DataGrid.SortingIcon)
                                }
                            </div>
                        </th>
                    }
                }

                @if (OnEdit != null || OnDelete != null)
                {
                    <th class=@Theme.Current.DataGrid.HeaderCell>Actions</th>
                }
            </tr>
        </thead>
        <tbody class=@Theme.Current.DataGrid.Body>
            @{
                var rowCount = 1;
                var visibleItems = Items.AsQueryable();

                foreach (var sortCol in Columns.Where(m => m.Sort != SortDirection.None))
                {
                    visibleItems = sortCol.Sort == SortDirection.Ascending ? visibleItems.OrderBy(sortCol.Field) :
                    visibleItems.OrderByDescending(sortCol.Field);
                }

                visibleItems = visibleItems.Skip((CurrentPage - 1) * NumberPerPage).Take(NumberPerPage);


            }
            @foreach (var item in visibleItems)
            {
                <tr class=@(rowCount % 2 == 0 ? Theme.Current.DataGrid.EvenRow : Theme.Current.DataGrid.OddRow)>
                    @foreach (var col in Columns)
                    {
                        if (col.IsVisible)
                        {

                            <td class=@Theme.Current.DataGrid.Cell>
                                @if (col.Component != null)
                                {
                                    var componentPropValues = new Dictionary<string, object>();
                                    var componentProps = col.Component.GetProperties();

                                    if(componentProps.Any(m => m.Name.Equals("Item", StringComparison.OrdinalIgnoreCase)))
                                    {
                                        componentPropValues.Add("Item", item);
                                    }
                                    if(componentProps.Any(m => m.Name.Equals("Tag", StringComparison.OrdinalIgnoreCase)))
                                    {
                                        componentPropValues.Add("Tag", col.Tag ?? (object)"");
                                    }

                                    <DynamicComponent Type=@col.Component Parameters=@componentPropValues />
                                }
                                else if (col.Markup != null)
                                {
                                    @(col.Markup(item))
                                }
                                else if (col.Field != null)
                                {
                                    var columnFieldValue = col.Field.Compile()(item) ?? (object)string.Empty;
                                    @if (col.Format != null)
                                    {
                                        @(string.Format("{0:" + col.Format + "}", columnFieldValue))
                                    }
                                    else
                                    {
                                        @(columnFieldValue.ToString())
                                    }
                                }
                            </td>
                        }
                    }

                    @if (OnEdit != null || OnDelete != null)
                    {
                        <td class=@Theme.Current.DataGrid.Cell>
                            <div class="flex items-center gap-2">
                                @if (OnEdit != null)
                                {
                                    if (RequestShowEdit == null || RequestShowEdit(item))
                                    {
                                        <a onclick=@(() => OnEdit(item))>
                                            @(Tazor.Components.HeroIcons.PencilSquare())
                                        </a>
                                    }
                                }

                                @if (OnDelete != null)
                                {
                                    if (RequestShowDelete == null || RequestShowDelete(item))
                                    {
                                        <a onclick=@(() => OnDelete(item))>
                                            @(Tazor.Components.HeroIcons.Trash())
                                        </a>
                                    }
                                }

                                @foreach(var ci in AdditionalActions)
                                {
                                    <a onclick=@(() => { if(ActionRequested != null) { ActionRequested(item, ci); } }) title=@ci.Title>
                                        @(ci.Icon)
                                    </a>
                                }
                            </div>
                        </td>
                    }
                </tr>
                rowCount++;
            }
        </tbody>
        @if (SummaryRow != SummaryRowMode.Hidden)
        {
            <tfoot class=@Theme.Current.DataGrid.SummaryRow>
                <tr>
                    @foreach (var col in Columns)
                    {
                        if (!col.IsVisible) { continue; }

                        <td class=@Theme.Current.DataGrid.SummaryCell>
                            @if (col.Summary != null)
                            {
                                @col.Summary(SummaryRow == SummaryRowMode.AllItems ? Items : visibleItems)
                                ;
                            }
                        </td>
                    }
                </tr>
            </tfoot>
        }
    </table>
    <div class=@Theme.Current.DataGrid.Footer>
        <Pager NumberOfVisiblePages=5 @bind-CurrentPage=@CurrentPage Pages=@((int)Math.Ceiling((double)Items.Count() /
               NumberPerPage)) />
    </div>
</div>
@code {
    //[Parameter]
    //public IEnumerable<CommandItem> ItemCommands { get; set; } = Enumerable.Empty<CommandItem>();
    [Parameter]
    public RenderFragment? Toolbar { get; set; }

    [Parameter]
    public int NumberPerPage { get; set; } = 10;

    [Parameter]
    public int CurrentPage { get; set; } = 1;

    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = Enumerable.Empty<TItem>();

    [Parameter]
    public IEnumerable<Column<TItem>> Columns { get; set; } = Enumerable.Empty<Column<TItem>>();

    [Parameter]
    public SummaryRowMode SummaryRow { get; set; }

    [Parameter]
    public bool Sortable { get; set; } = true;

    [Parameter]
    public bool EnableMultiSort { get; set; } = false;

    [Parameter]
    public Action<TItem>? OnEdit { get; set; }

    [Parameter]
    public Action<TItem>? OnDelete { get; set; }

    [Parameter]
    public IEnumerable<CommandItem> AdditionalActions { get; set; } = Enumerable.Empty<CommandItem>();

    [Parameter]
    public Action<TItem, CommandItem>? ActionRequested { get; set; }

    [Parameter]
    public bool HideToolbar { get; set; } = false;

    [Parameter]
    public Func<TItem, bool>? RequestShowDelete { get; set; }

    [Parameter]
    public Func<TItem, bool>? RequestShowEdit { get; set; }

    private bool _isColumnPopupOpen = false;

    private string CetColumnPopupClass() => _isColumnPopupOpen ? "block" : "hidden";

    private void HandleSortChange(Column<TItem> col)
    {
        if (!Sortable)
        {
            return;
        }

        switch (col.Sort)
        {
            case SortDirection.None:
                col.Sort = SortDirection.Ascending;
                break;
            case SortDirection.Ascending:
                col.Sort = SortDirection.Descending;
                break;
            case SortDirection.Descending:
                col.Sort = SortDirection.None;
                break;
        }

        if (!EnableMultiSort)
        {
            foreach (var otherColumn in Columns.Where(m => m != col))
            {
                otherColumn.Sort = SortDirection.None;
            }
        }
    }
}
