@typeparam TItem
@inherits TazorBaseComponent
<CascadingValue Name="Grid" Value="this">
    <div class="@Theme.Data.DataGrid.Container @(GetContainerClass())">
        <div>
            <a @onclick="OnToggleExpansionClicked">
                @if(IsExpanded)
                {
                    @HeroIcons.ArrowsPointingIn()
                }
                else
                {
                    @HeroIcons.ArrowsPointingOut()
                }
            </a>
        </div>
        <table class="@Theme.Data.DataGrid.TableElement">
            <thead class="@Theme.Data.DataGrid.Header">
                <tr>
                    @foreach (var col in _columns.OrderBy(m => m.Order))
                    {
                        <th class="@Theme.Data.DataGrid.HeaderCell">
                            @col.Header
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="@Theme.Data.DataGrid.Body">
                @{
                    var count = 0;
                }
                @foreach (var item in Items)
                {
                    count++;
                    <tr class="@GetRowClass(count, item)">
                        @foreach (var col in _columns.OrderBy(m => m.Order))
                        {
                            <td class="@Theme.Data.DataGrid.Cell">
                                @(col.Cell(item))
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @(ChildContent)
    </div>
</CascadingValue>