@inherits TazorBaseComponent
<div class="alert @(GetCssClass())" role="alert">
    <div class="alert-columns">
        <div class="alert-icon-column">
            @if (Icon != null)
            {
                @Icon
            }
            else if (Type == AlertType.Info)
            {
                @HeroIcons.InformationCircle("", "w-6 h-6")
            }
            else if (Type == AlertType.Success)
            {
                @HeroIcons.Check("", "w-6 h-6")
            }
            else if (Type == AlertType.Warning)
            {
                @HeroIcons.Bolt("", "w-6 h-6")
            }
            else if (Type == AlertType.Error)
            {
                @HeroIcons.XMark("", "w-6 h-6")
            }
            else
            {
                @HeroIcons.QuestionMarkCircle("", "w-6 h-6")
            }
        </div>
        <div class="alert-content-column">
            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <div class="text-sm font-semibold">@Title</div>
            }
            <div class="alert-content">
                @if (Content != null)
                {
                    @Content
                }
            </div>
        </div>
    </div>
    @if (LinkContent != null)
    {
        <div class="alert-link">
            @LinkContent
        </div>
    }
</div>
