@inherits TazorBaseComponent
<div class=@($"{_cssClass} {Class ?? string.Empty}") role="alert">
    <div class="flex items-center">
        <div class=@($"flex-shrink-0 {Theme.Content.AlertIcon}")>
            @if (Icon != null)
            {
                @Icon
            }
            else if (Type == AlertType.Info)
            {
                @HeroIcons.InformationCircle("", "w-6 h-6")
            }
            else if (Type == AlertType.Success)
            {
                @HeroIcons.Check("", "w-6 h-6")
            }
            else if (Type == AlertType.Warning)
            {
                @HeroIcons.Bolt("", "w-6 h-6")
            }
            else if (Type == AlertType.Error)
            {
                @HeroIcons.XMark("", "w-6 h-6")
            }
            else
            {
                @HeroIcons.QuestionMarkCircle("", "w-6 h-6")
            }
        </div>
        <div class="ml-4 grow">
            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <div class="text-sm font-semibold">@Title</div>
            }
            <div class="text-sm">
                @if (Content != null)
                {
                    @Content
                }
            </div>
        </div>
    </div>
    <div class="text-sm font-medium">
        @if (LinkContent != null)
        {
            @LinkContent
        }
    </div>
</div>