@inherits TazorBaseComponent
<div class=@Theme.Content.CodeBlock.Wrapper>
    <div class=@Theme.Content.CodeBlock.Header>
        <h3>@Title</h3>
        <div>
            <a title="Copy to Clipboard" @onclick=@OnCopyToClipboard>
                @HeroIconsOutline.Clipboard()
            </a>
        </div>
    </div>
    <pre class="@Theme.Content.CodeBlock.Pre @(@GetLanguage())" id="@_elementReference">
        @(Code)
    </pre>
</div>