@inherits TazorBaseComponent
<div class=@Theme.Navigation.Breadcrumb.Container>
    <ul class=@Theme.Navigation.Breadcrumb.List>
        @foreach (var item in Items)
        {
            <li class=@Theme.Navigation.Breadcrumb.ListItem>
                @if (!string.IsNullOrWhiteSpace(item.Href))
                {
                    <a href=@item.Href class=@Theme.Navigation.Breadcrumb.Link>
                        @(item.LeftIcon)
                        @(item.Text)
                        @(item.RightIcon)
                    </a>
                }
                else
                {
                    <span class=@Theme.Navigation.Breadcrumb.CurrentItem>
                        @(item.LeftIcon)
                        @(item.Text)
                        @(item.RightIcon)
                    </span>
                }
            </li>
            @if (item != Items.Last())
            {
                <li>
                    @if (DelimiterTemplate != null)
                    {
                        @(DelimiterTemplate)
                    }
                    else
                    {
                        @(Delimiter)
                    }
                </li>
            }
        }
    </ul>
</div>